@import '../node_modules/bootstrap';
@font-face {
    font-family: 'digital-7';
    src: url('./assets/digital_7/digital-7\ \(mono\).ttf') format('truetype');
}

* {
    font-family: 'digital-7';
    margin: 0;
    background-color: rgb(7, 28, 29);
    color: rgb(151, 236, 65);
}

.counter {
    border: 4px solid rgba(71, 122, 86, 0.795);
    width: fit-content;
}
